@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.btn-div {
  cursor: pointer;
  :hover {
    border-radius: 50px;
    background: rgb(165, 165, 165) !important;
  }
}
